.dropdown-menu {
  background-color: #565656;
  min-width: 10%;
  width: 10%;

  a {
    color: #fefefe !important;
  }

  a:hover {
    background-color: rgba(214, 214, 214, 0.46);
    color: #000 !important;
  }
}

.helper-overlay {
  position: fixed;
  height: 122px;
  top: -20px;
  width: 100%;
  z-index: -1
}

.flag-border {
  border-bottom: 1px solid #ffffff7d;
}
