<div class="container" style="overflow: hidden">
  <app-spinner [isWhole]="true" *ngIf="isSending"></app-spinner>
  <div class="mt-10 pt-3 mb-5">
    <h1 class="pt-3 text-center" translate>CONTACTPAGE.heading</h1>
  </div>
  <section>
    <div class="container">
      <div class="row mb-20">
        <div class="col-lg-5 col-sm-12 mb-5">
          <div>
            <h2>Wielding & Employment Agency MEDUM</h2>
            <div class="info-row">ul. Przemysłowa 27</div>
            <div class="info-row">33-100 Tarnów</div>
            <div class="info-row">Pon - Pt, 9:00-15:00</div>
            <div class="info-row">tel. +48 533 084 558</div>
            <div class="info-row">email: medumcompany@gmail.com</div>
          </div>
        </div>
        <div class="col-lg-7 col-sm-12 mb-15">
          <agm-map class="z-depth-1-half map-container" style="height: 420px; width: auto" [zoom]="16"
                   [latitude]="map.lat"
                   [longitude]="map.lng" >
            <agm-marker [latitude]="map.lat" [longitude]="map.lng">
              <agm-snazzy-info-window [maxWidth]="165" [maxHeight]="120" [closeWhenOthersOpen]="true">
                <ng-template>
                  Medumcompany!
                </ng-template>
              </agm-snazzy-info-window>
            </agm-marker>
          </agm-map>
        </div>
      </div>
    </div>
  </section>
</div>
<swal
  title
  text
  type
  #dialog>
</swal>
