<div class="container" style="overflow: hidden">
  <app-spinner [isWhole]="true" *ngIf="isSending"></app-spinner>
  <div class="mt-5 pt-5 mb-3">
    <h1 class="pt-3 text-center">Skontaktuj się z nami!</h1>
  </div>
  <section>
    <div class="container">
      <div class="row mb-20">
        <div class="col-lg-5 col-sm-12 mb-5">
          <form class="card" [formGroup]="contactForm" (ngSubmit)="submitForm(f)" #f="ngForm" novalidate>
            <div class="card-body">
              <mat-form-field class="w-100">
                <input matInput placeholder="Imię" [formControl]="firstName">
                <mat-error *ngIf="firstName.hasError('minlength') && !firstName.hasError('required')">
                  {{errorMsg(firstName)}}
                </mat-error>
                <mat-error *ngIf="firstName.hasError('required')">
                  To pole jest <strong>wymagane</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="w-100">
                <input matInput placeholder="Nazwisko" [formControl]="lastName">
              </mat-form-field>

              <mat-form-field class="w-100">
                <input matInput placeholder="Email" [formControl]="email">
                <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                  Nieprawidłowy e-mail
                </mat-error>
                <mat-error *ngIf="email.hasError('required')">
                  To pole jest <strong>wymagane</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="w-100">
                <input matInput placeholder="Temat" [formControl]="subject">
                <mat-error *ngIf="subject.hasError('minlength') && !subject.hasError('required')">
                  {{errorMsg(subject)}}
                </mat-error>
                <mat-error *ngIf="subject.hasError('required')">
                  To pole jest <strong>wymagane</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="w-100">
                <input matInput placeholder="Wiadomość" [formControl]="message">
                <mat-error *ngIf="message.hasError('minlength') && !message.hasError('required')">
                  {{errorMsg(message)}}
                </mat-error>
                <mat-error *ngIf="message.hasError('required')">
                  To pole jest <strong>wymagane</strong>
                </mat-error>
              </mat-form-field>

              <div class="text-center">
                <button class="btn btn-elegant waves-light" mdbRippleRadius [disabled]="contactForm.invalid">Wyślij</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-7 col-sm-12">
          <agm-map class="z-depth-1-half map-container" style="height: 420px; width: auto" [zoom]="16"
                   [latitude]="map.lat"
                   [longitude]="map.lng">
            <agm-marker [latitude]="map.lat" [longitude]="map.lng">
              <agm-snazzy-info-window [maxWidth]="165" [maxHeight]="120" [closeWhenOthersOpen]="true">
                <ng-template>
                  Medumcompany!
                </ng-template>
              </agm-snazzy-info-window>
            </agm-marker>
          </agm-map>
          <br>
          <div class="row text-center">
            <div class="col-md-4">
              <a class="btn-small waves-light" appCustomCircle defaultColor="lightblue">
                <i class="fa fa-map-marker"></i>
              </a>
              <p>ul. xyz<br>30-100 Tarnów</p>
              <p>Polska</p>
            </div>
            <div class="col-md-4">
              <a class="btn-small waves-light" appCustomCircle defaultColor="lightblue">
                <i class="fa fa-phone"></i>
              </a>
              <p>+ 01 234 567 89</p>
              <p>Pon - Pt, 8:00-22:00</p>
            </div>
            <div class="col-md-4">
              <a class="btn-small waves-light" appCustomCircle defaultColor="lightblue">
                <i class="fa fa-envelope"></i>
              </a>
              <p>info@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<swal
  title
  text
  type
  #dialog>
</swal>
