<div class="container" style="overflow: hidden">
  <app-spinner [isWhole]="true" *ngIf="isSending"></app-spinner>
  <div class="mt-5 pt-5 mb-3">
    <h1 class="pt-3 text-center">Skontaktuj się z nami!</h1>
  </div>
  <section>
    <div class="container">
      <div class="row mb-10">
        <div class="col-lg-5 col-sm-12 mb-5">
          <form class="card" [formGroup]="contactForm" (ngSubmit)="submitForm()" novalidate>
            <div class="card-body">
              <div class="md-form mt-2 mb-5">
                <input mdbActive type="text" id="form1" class="form-control" formControlName="firstName">
                <label for="form1">Imię</label>
                <div class="error-message-input" *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
                  <p *ngIf="firstName.errors['minlength']">{{errorMsg(firstName)}}</p>
                </div>
              </div>

              <div class="md-form mt-2 mb-5">
                <input mdbActive type="text" id="form2" class="form-control" formControlName="lastName">
                <label for="form2">Nazwisko</label>
              </div>

              <div class="md-form mt-2 mb-5">
                <input mdbActive type="email" id="form3" class="form-control" formControlName="email">
                <label for="form3">Email</label>
                <div class="error-message-input" *ngIf="email.errors && (email.dirty || email.touched)">
                  <p *ngIf="email.errors['email'] && email.dirty">Nieprawidłowy Email</p>
                </div>
              </div>

              <div class="md-form mt-2 mb-5">
                <input mdbActive type="text" id="form4" class="form-control" formControlName="subject">
                <label for="form4">Temat</label>
                <div class="error-message-input" *ngIf="subject.errors && (subject.dirty || subject.touched)">
                  <p *ngIf="subject.errors['minlength']">{{errorMsg(subject)}}</p>
                </div>
              </div>

              <div class="md-form mt-2 mb-5">
                <textarea mdbActive type="text" id="form5" class="md-textarea" formControlName="message"></textarea>
                <label for="form5">Wiadomość</label>
                <div class="error-message-textarea" *ngIf="message.errors && (message.dirty || message.touched)">
                  <p *ngIf="message.errors['minlength']">{{errorMsg(message)}}</p>
                </div>
              </div>

              <div class="text-center">
                <button class="btn btn-elegant waves-light" mdbRippleRadius [disabled]="contactForm.invalid">Wyślij</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-7 col-sm-12">
          <agm-map class="z-depth-1-half map-container" style="height: 420px; width: auto" [zoom]="16"
                   [latitude]="map.lat"
                   [longitude]="map.lng">
            <agm-marker [latitude]="map.lat" [longitude]="map.lng">
              <agm-snazzy-info-window [maxWidth]="165" [maxHeight]="120" [closeWhenOthersOpen]="true">
                <ng-template>
                  Medumagency!
                </ng-template>
              </agm-snazzy-info-window>
            </agm-marker>
          </agm-map>
          <br>
          <div class="row text-center">
            <div class="col-md-4">
              <a class="btn-small waves-light" appCustomCircle defaultColor="lightblue">
                <i class="fa fa-map-marker"></i>
              </a>
              <p>ul. xyz<br>30-100 Tarnów</p>
              <p>Polska</p>
            </div>
            <div class="col-md-4">
              <a class="btn-small waves-light" appCustomCircle defaultColor="lightblue">
                <i class="fa fa-phone"></i>
              </a>
              <p>+ 01 234 567 89</p>
              <p>Pon - Pt, 8:00-22:00</p>
            </div>
            <div class="col-md-4">
              <a class="btn-small waves-light" appCustomCircle defaultColor="lightblue">
                <i class="fa fa-envelope"></i>
              </a>
              <p>info@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<swal
  title
  text
  type
  #dialog>
</swal>
