<div class="container">
  <div class="mt-20 pt-2 align-middle">
    <h2 class="d-flex justify-content-center">Wyślij do nas swoje zgłoszenie</h2>
  </div>
  <div class="row mt-10 mb-5" style="padding-bottom: 3px">
    <div class="col-lg-2 hidden-sm"></div>
    <div class="col-sm-12 col-lg-8">
      <form class="card" #f="ngForm" (ngSubmit)="submitForm(f)" novalidate>
        <div class="card-body">
          <div class="md-form">
            <input mdbActive type="text" id="form1" class="form-control" name="firstName" ngModel>
            <label for="form1">Imię</label>
          </div>
          <div class="md-form">
            <input mdbActive type="text" id="form2" class="form-control" name="lastName" ngModel>
            <label for="form2">Nazwisko</label>
          </div>

          <div class="md-form">
            <input mdbActive type="text" id="form3" class="form-control" name="address" ngModel>
            <label for="form3">Adres zamieszkania</label>
          </div>

          <div class="md-form">
            <input mdbActive type="text" id="form4" class="form-control" name="phone" ngModel>
            <label for="form4">Telefon</label>
          </div>

          <div class="md-form">
            <input mdbActive type="email" id="form5" class="form-control" name="email" ngModel>
            <label for="form5">Email</label>
          </div>

          <div class="md-form">
            <input mdbActive type="text" id="form6" class="form-control" name="position" ngModel>
            <label for="form6">Aplikuję na stanowisko</label>
          </div>

          <div class="md-form">
            <textarea mdbActive type="text" id="form7" class="md-textarea" name="message" ngModel></textarea>
            <label for="form7">Dodatkowe informacje</label>
          </div>

          <div>
            <label for="file" class="btn btn-sm btn-outline-elegant mb-5">
              Dodaj załączniki
            </label>
            <input type="file"
                   id="file"
                   multiple
                   style="display: none"
                   (change)="handleFileInput($event.target.files)"
                   name="attachments">
            <p *ngFor="let file of fileToUpload">{{file.filename}} ({{file.fileSize}})</p>
          </div>

          <div class="text-center">
            <button class="btn btn-elegant waves-light" mdbRippleRadius>Wyślij</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
