<div class="container">
  <app-spinner [isWhole]="true" *ngIf="isSending"></app-spinner>
  <div class="mt-10 pt-5 align-middle">
    <h2 class="d-flex justify-content-center" translate>JOBFORMPAGE.heading</h2>
  </div>
  <div class="row mt-5 mb-20 pb-1">
    <div class="col-lg-3 hidden-sm"></div>
    <div class="col-sm-12 col-lg-6">
      <form class="card" [formGroup]="jobForm" (ngSubmit)="submitForm(f)" #f="ngForm" novalidate>
        <div class="card-body">
          <mat-form-field class="w-100">
            <input matInput placeholder="{{'FORM.NAMES.firstName' | translate}}" [formControl]="firstName">
            <mat-error *ngIf="firstName.hasError('minlength') && !firstName.hasError('required')">
              {{errorMsg(firstName)}}
            </mat-error>
            <mat-error *ngIf="firstName.hasError('required')">
              To pole jest <strong>wymagane</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-100">
            <input matInput placeholder="{{'FORM.NAMES.lastName' | translate}}" [formControl]="lastName">
            <mat-error *ngIf="lastName.hasError('minlength') && !lastName.hasError('required')">
              {{errorMsg(lastName)}}
            </mat-error>
            <mat-error *ngIf="lastName.hasError('required')">
              To pole jest <strong>wymagane</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-100">
            <input matInput placeholder="{{'FORM.NAMES.address' | translate}}" [formControl]="address">
            <mat-error *ngIf="address.hasError('minlength') && !address.hasError('required')">
              {{errorMsg(address)}}
            </mat-error>
            <mat-error *ngIf="address.hasError('required')">
              To pole jest <strong>wymagane</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-100">
            <input matInput placeholder="{{'FORM.NAMES.phone' | translate}}" [formControl]="phone">
            <mat-error *ngIf="phone.hasError('minlength') && !phone.hasError('required')">
              {{errorMsg(phone)}}
            </mat-error>
            <mat-error *ngIf="phone.hasError('required')">
              To pole jest <strong>wymagane</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-100">
            <input matInput placeholder="{{'FORM.NAMES.email' | translate}}" [formControl]="email">
            <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
              Nieprawidłowy email
            </mat-error>
            <mat-error *ngIf="email.hasError('required')">
              To pole jest <strong>wymagane</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-100">
            <input matInput placeholder="{{'FORM.NAMES.position' | translate}}" [formControl]="position">
            <mat-error *ngIf="position.hasError('minlength') && !position.hasError('required')">
              {{errorMsg(position)}}
            </mat-error>
            <mat-error *ngIf="position.hasError('required')">
              To pole jest <strong>wymagane</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-100">
            <textarea matInput placeholder="{{'FORM.NAMES.message' | translate}}" [formControl]="message"></textarea>
          </mat-form-field>

          <div class="mt-3">
            <label for="file" class="btn btn-sm btn-outline-elegant d-inline" translate>
              FORM.NAMES.attachments
            </label>
            <div class="d-inline">
              <span class="red-text"> *</span>
              <p class="d-inline" style="font-size: 13px">
                <span class="mr-2">
                  <span translate>FORM.NAMES.attachmentsCaution</span>: .jpg, .png, .xls, .pdf, .doc
                </span>
              </p>
            </div>
            <input type="file"
                   id="file"
                   multiple
                   style="display: none"
                   (change)="handleFileInput($event.target.files)"
                   accept=".jpg, .png, .xls, .doc, .pdf, .jpeg,image/jpg,image/png, application/pdf,application/msword,image/jpeg, application/vnd.ms-excel">
          </div>
          <div class="files-uploaded">
            <p *ngFor="let file of fileToUpload">{{file.filename}}
              <strong class="ml-2">({{file.fileSize | byteFmt: 2}})</strong>
            </p>
          </div>

          <div class="text-center">
            <button class="btn btn-elegant waves-light" mdbRippleRadius [disabled]="!jobForm.valid" translate>FORM.NAMES.sendButton</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<swal
  title
  text
  type
  #dialog>
</swal>
