<div class="container">
  <div class="mt-15 align-middle">
    <h2 class="d-flex justify-content-center">Nawiąż z nami współpracę</h2>
  </div>
  <div class="row mt-5 mb-10">
    <div class="col-sm-12 col-md-5 col-lg-5">
      <img src="../../../assets/pexels-photo-862734.jpeg" class="figure-img img-fluid" alt="Medumagency współpraca">
    </div>
    <h4 class="col-sm-12 col-md-7 col-lg-7 text-center">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium ad amet atque autem debitis deserunt
      dignissimos dolore dolorem doloribus earum eos error expedita facilis fugit inventore laboriosam laudantium
      magnam, minima mollitia natus, nemo neque nihil nisi quidem quis quisquam repellat reprehenderit repudiandae saepe
      similique, sunt suscipit temporibus tenetur vel velit veniam! Impedit ipsam omnis saepe sit, temporibus ullam
      vero.
    </h4>
  </div>
  <div class="row">
    <div class="col-lg-2 hidden-sm"></div>
    <div class="col-sm-12 col-lg-8 mt-5 mb-10">
      <div class="card" style="margin-bottom: 3px">
        <div class="card-body">
          <div class="md-form">
            <input mdbActive type="text" id="form1" class="form-control">
            <label for="form1">Nazwa firmy</label>
          </div>

          <div class="md-form">
            <input mdbActive type="text" id="form3" class="form-control">
            <label for="form3">Adres</label>
          </div>

          <div class="md-form">
            <input mdbActive type="text" id="form4" class="form-control">
            <label for="form4">Telefon</label>
          </div>

          <div class="md-form">
            <input mdbActive type="text" id="form5" class="form-control">
            <label for="form5">Email</label>
          </div>

          <div class="text-center">
            <button class="btn btn-elegant waves-light" mdbRippleRadius>Wyślij</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
