<div class="container">
  <app-spinner [isWhole]="true" *ngIf="isSending"></app-spinner>
  <div class="mt-15 align-middle">
    <h2 class="d-flex justify-content-center" translate>COOPERATIONFORMPAGE.heading</h2>
  </div>
  <div class="row mt-3 mb-5">
    <div class="col-sm-12 col-md-5 col-lg-5">
      <img src="../../../assets/pexels-photo-862734.jpeg" class="figure-img img-fluid" alt="Medumcompany współpraca">
    </div>
    <h4 class="col-sm-12 col-md-7 col-lg-7 text-center">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium ad amet atque autem debitis deserunt
      dignissimos dolore dolorem doloribus earum eos error expedita facilis fugit inventore laboriosam laudantium
      magnam, minima mollitia natus, nemo neque nihil nisi quidem quis quisquam repellat reprehenderit repudiandae saepe
      similique, sunt suscipit temporibus tenetur vel velit veniam! Impedit ipsam omnis saepe sit, temporibus ullam
      vero.
    </h4>
  </div>
  <div class="row">
    <div class="col-lg-3 hidden-sm"></div>
    <div class="col-sm-12 col-lg-6 mb-20">
      <form class="card" [formGroup]="cooperationForm" (ngSubmit)="submitForm(f)" #f="ngForm" novalidate>
        <div class="card-body">
          <mat-form-field class="w-100">
            <input matInput placeholder="{{'FORM.NAMES.companyName' | translate}}" [formControl]="getControl('companyName')">
            <mat-error *ngIf="getControl('companyName').hasError('minlength') && !getControl('companyName').hasError('required')">
              {{'FORM.ERRORS.minLengthField' | translate:minError('companyName')}}
            </mat-error>
            <mat-error *ngIf="getControl('companyName').hasError('required')">
              {{'FORM.ERRORS.requiredField' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-100">
            <input matInput placeholder="{{'FORM.NAMES.address' | translate}}" [formControl]="getControl('address')">
            <mat-error *ngIf="getControl('address').hasError('minlength') && !getControl('address').hasError('required')">
              {{'FORM.ERRORS.minLengthField' | translate:minError('address')}}
            </mat-error>
            <mat-error *ngIf="getControl('address').hasError('required')">
              {{'FORM.ERRORS.requiredField' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-100">
            <input matInput placeholder="{{'FORM.NAMES.phone' | translate}}" [formControl]="getControl('phone')">
            <mat-error *ngIf="getControl('phone').hasError('minlength') && !getControl('phone').hasError('required')">
              {{'FORM.ERRORS.minLengthField' | translate:minError('phone')}}
            </mat-error>
            <mat-error *ngIf="getControl('phone').hasError('required')">
              {{'FORM.ERRORS.requiredField' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-100">
            <input matInput placeholder="{{'FORM.NAMES.email' | translate}}" [formControl]="getControl('email')">
            <mat-error *ngIf="getControl('email').hasError('email') && !getControl('email').hasError('required')">
              {{'FORM.ERRORS.emailField' | translate}}
            </mat-error>
            <mat-error *ngIf="getControl('email').hasError('required')">
              {{'FORM.ERRORS.requiredField' | translate}}
            </mat-error>
          </mat-form-field>

          <div class="mt-3">
            <label for="file" class="btn btn-sm btn-outline-elegant d-inline" translate>
              FORM.NAMES.attachments
            </label>
            <div class="d-inline">
              <span class="red-text"> *</span>
              <p class="d-inline" style="font-size: 13px">
                <span class="mr-2">
                  <span translate>FORM.NAMES.attachmentsCaution</span>: .jpg, .png, .xls, .pdf, .doc
                </span>
              </p>
            </div>
            <input type="file"
                   id="file"
                   multiple
                   style="display: none"
                   (change)="handleFileInput($event.target.files)"
                   accept=".jpg, .png, .xls, .doc, .pdf, .jpeg,image/jpg,image/png, application/pdf,application/msword,image/jpeg, application/vnd.ms-excel">
          </div>

          <div class="files-uploaded">
            <p *ngFor="let file of fileToUpload">{{file.filename}}
              <strong class="ml-2">({{file.fileSize | byteFmt: 2}})</strong>
            </p>
          </div>
          <hr>
          <div class="mt-2">
            <mat-checkbox [formControl]="getControl('documentPolicy')"><span translate>FORM.NAMES.documentPolicy</span></mat-checkbox>
          </div>

          <div class="text-center">
            <button class="btn btn-elegant waves-light" mdbRippleRadius [disabled]="!cooperationForm.valid" translate>FORM.NAMES.sendButton</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<swal
  title
  text
  type
  #dialog>
</swal>
