<div class="container">
  <app-spinner [isWhole]="true" *ngIf="isSending"></app-spinner>
  <div class="mt-15 align-middle">
    <h2 class="d-flex justify-content-center">Nawiąż z nami współpracę</h2>
  </div>
  <div class="row mt-3 mb-5">
    <div class="col-sm-12 col-md-5 col-lg-5">
      <img src="../../../assets/pexels-photo-862734.jpeg" class="figure-img img-fluid" alt="Medumagency współpraca">
    </div>
    <h4 class="col-sm-12 col-md-7 col-lg-7 text-center">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium ad amet atque autem debitis deserunt
      dignissimos dolore dolorem doloribus earum eos error expedita facilis fugit inventore laboriosam laudantium
      magnam, minima mollitia natus, nemo neque nihil nisi quidem quis quisquam repellat reprehenderit repudiandae saepe
      similique, sunt suscipit temporibus tenetur vel velit veniam! Impedit ipsam omnis saepe sit, temporibus ullam
      vero.
    </h4>
  </div>
  <div class="row">
    <div class="col-lg-3 hidden-sm"></div>
    <div class="col-sm-12 col-lg-6 mb-10">
      <form class="card" [formGroup]="cooperationForm" (ngSubmit)="submitForm()" novalidate>
        <div class="card-body">
          <div class="md-form mt-2 mb-5">
            <input mdbActive type="text" id="form1" class="form-control" formControlName="companyName">
            <label for="form1">Nazwa firmy</label>
            <div class="error-message-input" *ngIf="companyName.errors && (companyName.dirty || companyName.touched)">
              <p *ngIf="companyName.errors['minlength']">{{errorMsg(companyName)}}</p>
            </div>
          </div>

          <div class="md-form mt-2 mb-5">
            <input mdbActive type="text" id="form2" class="form-control" formControlName="address">
            <label for="form2">Adres</label>
            <div class="error-message-input" *ngIf="address.errors && (address.dirty || address.touched)">
              <p *ngIf="address.errors['minlength']">{{errorMsg(address)}}</p>
            </div>
          </div>

          <div class="md-form mt-2 mb-5">
            <input mdbActive type="text" id="form3" class="form-control" formControlName="phone">
            <label for="form3">Telefon</label>
            <div class="error-message-input" *ngIf="phone.errors && (phone.dirty || phone.touched)">
              <p *ngIf="phone.errors['minlength']">{{errorMsg(phone)}}</p>
            </div>
          </div>

          <div class="md-form mt-2 mb-5">
            <input mdbActive type="email" id="form4" class="form-control" formControlName="email">
            <label for="form4">Email</label>
            <div class="error-message-input" *ngIf="email.errors && (email.dirty || email.touched)">
              <p *ngIf="email.errors['email'] && email.dirty">Nieprawidłowy Email</p>
            </div>
          </div>

          <div>
            <label for="file" class="btn btn-sm btn-outline-elegant d-inline">
              Dodaj załączniki
            </label>
            <div class="d-inline">
              <span class="red-text"> *</span>
              <p class="d-inline" style="font-size: 13px">
                <span class="mr-2">Dozwolone pliki: .jpg, .png, .xls, .pdf, .doc</span>
              </p>
            </div>
            <input type="file"
                   id="file"
                   multiple
                   style="display: none"
                   (change)="handleFileInput($event.target.files)"
                   accept=".jpg, .png, .xls, .doc, .pdf, .jpeg,image/jpg,image/png, application/pdf,application/msword,image/jpeg, application/vnd.ms-excel">
          </div>
          <div class="files-uploaded">
            <p *ngFor="let file of fileToUpload">{{file.filename}}
              <strong class="ml-2">({{file.fileSize | byteFmt: 2}})</strong>
            </p>
          </div>

          <div class="text-center">
            <button class="btn btn-elegant waves-light" mdbRippleRadius [disabled]="!cooperationForm.valid">Wyślij</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<swal
  title
  text
  type
  #dialog>
</swal>
