<div class="view intro hm-black-light">
  <div class="full-bg-img flex-center">
    <div class="container text-center white-text">
      <div class="medum-logo-wraper">
        <img src="../../assets/medum-logo.png" class="medum-logo-img" alt="medum company" height="90">
      </div>
      <h4 class="pt-3 mb-0">
        {{'ABOUT.company' | translate}}
      </h4>
      <br>
      <h4>
        {{'ABOUT.subCompany' | translate}}
      </h4>
    </div>
  </div>
</div>
<!--<app-banner></app-banner>-->
