<div class="view intro hm-black-light">
  <div class="full-bg-img flex-center">
    <div class="container text-center white-text pb-5">
      <h1><strong>Medumcompany</strong></h1>
      <br>
      <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, ad debitis, dolores dolorum fugit illum itaque laudantium nam odio quam qui quidem, quod veniam voluptatum.</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quisquam?</p>
    </div>
  </div>
</div>
<app-banner></app-banner>
