.view {
  background: url("../../../assets/pexels-photo-325185.webp") no-repeat center center;
  background-size: cover;
  min-height: 100vh !important;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
