<!--<div class="mt-10">-->
<!--<div class="box1 overlay">-->
<!--<div class="center-in-box">-->
<!--<img src="../../../assets/medumagency-logo.png" alt="Medumagency">-->
<!--<div class="ml-15 mr-15">-->
<!--<h1>MEDUMAGENCY</h1>-->
<!--<h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolore eligendi hic neque! Alias-->
<!--aliquam architecto beatae blanditiis delectus eaque facere hic illo impedit, quam quod sapiente, ullam, vel.-->
<!--Architecto dolores est impedit odit quo temporibus! Accusamus alias, blanditiis consectetur consequatur,-->
<!--distinctio dolorem ducimus eligendi excepturi impedit inventore itaque iure mollitia nemo neque obcaecati odio-->
<!--quos repellat rerum similique sint vel vero voluptates voluptatum. Architecto commodi, consectetur cum debitis-->
<!--doloremque itaque magnam modi, molestiae nemo obcaecati officiis quidem quisquam rem sint temporibus ullam,-->
<!--voluptas. A aperiam, consequatur debitis, earum eius ex illum maiores, nisi placeat quae quisquam sed! In,-->
<!--laudantium.</h5>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="box2 overlay">-->
<!--<div class="center-in-box">-->
<!--<div class="ml-15 mr-15">-->
<!--<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolore eligendi hic neque! Alias-->
<!--aliquam architecto beatae blanditiis delectus eaque facere hic illo impedit, quam quod sapiente, ullam, vel.-->
<!--Architecto dolores est impedit odit quo temporibus! Accusamus alias, blanditiis consectetur consequatur,-->
<!--distinctio dolorem ducimus eligendi excepturi impedit inventore itaque iure mollitia nemo neque obcaecati odio-->
<!--quos repellat rerum similique sint vel vero voluptates voluptatum. Architecto commodi, consectetur cum debitis-->
<!--doloremque itaque magnam modi, molestiae nemo obcaecati officiis quidem quisquam rem sint temporibus ullam,-->
<!--voluptas. A aperiam, consequatur debitis, earum eius ex illum maiores, nisi placeat quae quisquam sed! In,-->
<!--laudantium.</h3>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="mt-20"></div>-->
<div class="pimg1">
  <div class="ptext">
      <span class="border">
        MEDUMAGENCY
      </span>
  </div>
</div>

<section class="section section-light">
  <h2>Section One</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, laudantium, quibusdam? Nobis, delectus, commodi,
    fugit amet tempora facere dolores nisi facilis consequatur, odio hic minima nostrum. Perferendis eos earum
    praesentium, blanditiis sapiente labore aliquam ipsa architecto vitae. Minima soluta temporibus voluptates inventore
    commodi cumque esse suscipit optio aliquam et, dolorem a cupiditate nihil fuga laboriosam fugiat placeat
    dignissimos! Unde eveniet placeat quisquam blanditiis voluptatem doloremque fugiat dolor repellendus ratione in.
    Distinctio provident dolorem modi cumque illo enim quidem tempora deserunt nostrum voluptate labore repellat
    quisquam quasi cum suscipit dolore ab consequuntur, ad porro earum temporibus. Laborum ad temporibus ex, omnis!
  </p>
</section>

<div class="pimg2">
  <div class="ptext">
      <span class="border trans">
        Image Two Text
      </span>
  </div>
</div>

<section class="section section-dark">
  <h2>Section Two</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, laudantium, quibusdam? Nobis, delectus, commodi,
    fugit amet tempora facere dolores nisi facilis consequatur, odio hic minima nostrum. Perferendis eos earum
    praesentium, blanditiis sapiente labore aliquam ipsa architecto vitae. Minima soluta temporibus voluptates inventore
    commodi cumque esse suscipit optio aliquam et, dolorem a cupiditate nihil fuga laboriosam fugiat placeat
    dignissimos! Unde eveniet placeat quisquam blanditiis voluptatem doloremque fugiat dolor repellendus ratione in.
  </p>
</section>

<div class="pimg3">
  <div class="ptext">
      <span class="border trans">
        Image Three Text
      </span>
  </div>
</div>

<section class="section section-dark">
  <h2>Section Three</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, laudantium, quibusdam? Nobis, delectus, commodi,
    fugit amet tempora facere dolores nisi facilis consequatur, odio hic minima nostrum. Perferendis eos earum
    praesentium, blanditiis sapiente labore aliquam ipsa architecto vitae. Minima soluta temporibus voluptates inventore
    commodi cumque esse suscipit optio aliquam et, dolorem a cupiditate nihil fuga laboriosam fugiat placeat
    dignissimos! Unde eveniet placeat quisquam blanditiis voluptatem doloremque fugiat dolor repellendus ratione in.
  </p>
</section>

<div class="pimg1">
  <div class="ptext">
      <span class="border">
        MEDUMAGENCY
      </span>
  </div>
</div>
