<footer class="page-footer center-on-small-only">
  <!--Social buttons-->
  <div class="text-center mb-3">
    <a class="btn-small waves-light" appCustomCircle><i class="fa fa-facebook"> </i></a>
    <a class="btn-small waves-light" appCustomCircle defaultColor="#55acee"><i class="fa fa-twitter"> </i></a>
    <a class="btn-small waves-light" appCustomCircle defaultColor="#dd4b39"><i class="fa fa-google-plus"> </i></a>
    <a class="btn-small waves-light" appCustomCircle defaultColor="#2e5e86"><i class="fa fa-instagram"> </i></a>
  </div>
  <!--/.Social buttons-->
  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2018 Copyright: <a href="#"> Medumcompany </a>
    </div>
  </div>
  <!--/.Copyright-->
</footer>
