.center-middle {
  margin: 0 auto;
}

@media screen and (max-width: 4000px) {
  #chartBig {
    display: inline;
  }

  #chartMedium {
    display: none;
  }

  #chartSmall {
    display: none;
  }

  #chartXSSmall {
    display: none;
  }
}


@media screen and (max-width: 920px) {
  #chartBig {
    display: none;
  }

  #chartMedium {
    display: inline;
  }

  #chartSmall {
    display: none;
  }

  #chartXSSmall {
    display: none;
  }
}

@media screen and (max-width: 769px) {
  #chartBig {
    display: none;
  }

  #chartMedium {
    display: none;
  }

  #chartSmall {
    display: inline;
  }

  #chartXSSmall {
    display: none;
  }
}

@media screen and (max-width: 530px) {
  #chartBig {
    display: none;
  }

  #chartMedium {
    display: none;
  }

  #chartSmall {
    display: none;
  }

  #chartXSSmall {
    display: inline;
  }
}

.multiline-ellipsis {
  display: block;
  display: -webkit-box;
  height: 3 * 1rem * 1.4;
  width: 90%;
  font-size: 0.9rem;
  line-height: 1.4rem;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.test {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#visualization svg path[fill^='none'] {
   stroke-width:0px;
}

#chartBig svg path[fill^='none'] {
  stroke-width:0px;

}

#chartBig  {
  stroke-width:0px;

  background: red;
}
