<div class="container">
  <div class="row mt-15">

    <h1 class="center-middle mb-5">Oferty Pracy</h1>

    <div class="col-12">

    </div>
    <div class="center-middle">
      <div id="chartBig" [chartData]="chartData" [chartOptions]="optionsBig" chartType="GeoChart" appGoogleChart></div>
      <div id="chartMedium" [chartData]="chartData" [chartOptions]="optionsMedium" chartType="GeoChart"
           appGoogleChart></div>
      <div id="chartSmall" [chartData]="chartData" [chartOptions]="optionsSmall" chartType="GeoChart"
           appGoogleChart></div>
      <div id="chartXSSmall" [chartData]="chartData" [chartOptions]="optionsXSSmall" chartType="GeoChart"
           appGoogleChart></div>
    </div>
  </div>

  <div class="center-middle md-form mt-5 mb-5 pb-5" style="width: 70%">
    <i class="fa fa-search prefix"></i>
    <input mdbActive type="text" id="form1" class="form-control">
    <label for="form1" class="">Szukaj ofert</label>
  </div>

  <div class="center-middle z-depth-1 hoverable" *ngFor="let i of [1,2,3,4,5]">
    <div class="card mb-4">
      <div class="card-body">
        <h4 class="card-title">Special title treatment</h4>
        <div class="card-text">
          {{ turnCate(text, 450) }}
        </div>
        <button type="button" class="btn btn-outline-elegant btn-sm waves-light" data-toggle="modal"
                data-target="#basicExample" (click)="demoBasic.show()" mdbRippleRadius>
          Zobacz ofertę
        </button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #demoBasic="mdb-modal" class="modal fade" id="basicExample" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="demoBasic.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        {{text}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-brown btn-sm waves-light" data-dismiss="modal"
                (click)="demoBasic.hide()" mdbRippleRadius>Zamknij
        </button>
        <button type="button" class="btn btn-elegant btn-sm waves-light" mdbRippleRadius (click)="navigateToForm()">Aplikuj</button>
      </div>
    </div>
  </div>
</div>
