.center-middle {
  margin: 0 auto;
}
.medium-card {
  width: 75%;
}

@media screen and (max-width: 4000px) {
  #chartBig {
    display: inline;
  }

  #chartSmall {
    display: none;
  }

  #chartXSSmall {
    display: none;
  }
}


@media screen and (max-width: 920px) {
  #chartBig {
    display: inline;
  }

  #chartSmall {
    display: none;
  }

  #chartXSSmall {
    display: none;
  }
}

@media screen and (max-width: 769px) {
  #chartBig {
    display: none;
  }

   #chartSmall {
    display: inline;
  }

  #chartXSSmall {
    display: none;
  }
}

@media screen and (max-width: 530px) {
  #chartBig {
    display: none;
  }

  #chartSmall {
    display: none;
  }

  #chartXSSmall {
    display: inline;
  }
}
