<div class="container">
  <app-spinner *ngIf="isLoading" class="mb-20"></app-spinner>

  <div *ngIf="!isLoading">
    <div class="row mt-10 pt-3">
      <h1 class="center-middle mb-2" translate>COUNTRYJOBOFFERS.heading</h1>
      <div class="col-12"></div>
      <div class="center-middle" id="regions-chart">
        <div id="chartBig" [chartData]="chartData" [chartOptions]="optionsBig" chartType="GeoChart" appGoogleChart (regionClicked)="setRegionSearch($event)"></div>
        <div id="chartSmall" [chartData]="chartData" [chartOptions]="optionsSmall" chartType="GeoChart"
             appGoogleChart (regionClicked)="setRegionSearch($event)"></div>
        <div id="chartXSSmall" [chartData]="chartData" [chartOptions]="optionsXSSmall" chartType="GeoChart"
             appGoogleChart (regionClicked)="setRegionSearch($event)"></div>
      </div>
    </div>

    <app-search-jobs [regionSet]="searchRegion"></app-search-jobs>

  </div>
</div>

