@import url('https://fonts.googleapis.com/css?family=Acme');


html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  font-family: 'Acme', sans-serif;
}

.navbar {
  background-color: #8000ff;

  .navbar-toggler i {
    display: none;
  }

  .container {
    margin: 0;
    padding: 0;
    max-width: 100%;
  }

  .form-inline div {
    width: 100%;
  }
}
